body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
  background-color: #F2EEE3;
  color: #1D1309;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.header-button {
  margin: 2% 0% 2% 0%;
  width: 50%;
  padding: 3% 0 3% 0;
  background-color: #474C27;
  border-left: 1px solid #F2EEE3;
  border-right: 1px solid #F2EEE3;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #F2EEE3;
}

.grapple {
  min-height: 400px;
  overflow-x: auto;
  margin: 2% 0 2% 0;
  border-top: 1px solid #785535;
  border-bottom: 1px solid #785535;
  padding-bottom: 60px;
}

p {
  font-size: 15px;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

li {
  margin: 3% 0 3% 0
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  background-color: #ECD5B7;
  color: #785535;
  text-align: center;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

button {
  width: inherit;
  background-color: #474C27;
  color: #F2EEE3;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 97%;
}

::-webkit-scrollbar {
  display: none;
}

/*
#F2EEE3 - sky
#474C27 - leaves
#ECD5B7 - sand
#1D1309 - dark bark
#785535 - light bark
*/